img.entry-feature-image.u-photo{
    display: none;
}
.bold--excerpt--node{
    display: none;
    font-weight: bold;
    border-bottom: #000000 solid 1px;
    width: fit-content;

}

body.layout--posts.post-archive{
    .bold--excerpt--node{
        display: block;
    }
}

body.layout--categories.category-archive{
    .bold--excerpt--node{
        display: block;
    }
}

body.layout--tags.tag-archive{
    .bold--excerpt--node{
        display: block;
    }
}

.avatar-company {
    border-radius: 6px;
}

.avatar-person {
    border-radius: 50%;
}

.site-description {
      font-size: 2.50rem;
}

